* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html,
  body {
    overflow-x: hidden;
    line-height: 30px;
    scroll-behavior: smooth;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  html,
  input,
  select,
  textarea {
    font-family: Poppins, sans-serif !important;
  }
  